<div class="pure-g">
    <div class="pure-u-2-5"></div>
    <div class="pure-u-1-5">
	<form class="pure-form pure-form-stacked" action="?" method="post">
		<fieldset>
			<legend>Panel</legend>
			<label for="stacked-email">Konto</label>
			<input type="text" name="login" />
			<label for="stacked-password">Hasło:</label>
			<input type="password" name="password" />
			<button type="submit" class="pure-button pure-button-primary">Zaloguj</button>
		</fieldset>
	</form>
    </div>
    <div class="pure-u-2-5"></div>
</div>
